/*********************************************************************
*  =Variables
*********************************************************************/

/*********************************************************************
*  =Grid and typograph
*********************************************************************/
$PROJECT_FONT_SIZE : 16px;
$PROJECT_BASELINE : 24px;

$GRID_COLUMN_WIDTH : 60px;
$GRID_GUTTER : 20px;
$GRID_WIDTH : (14*$GRID_COLUMN_WIDTH) + (13*$GRID_GUTTER);

$wrpSize : 1280;
$wrp : #{$wrpSize}px;

/*********************************************************************
*  =Colors
*********************************************************************/

$cWhite : #fff;
$cBlack : #000;
$cGrey  : #e0e5e8;

$c1 : #f09202;
$c2 : #565d67;
$c3 : #f8f8f8;
$c4 : #00cec8;

$error : #e52016;

/*********************************************************************
*  = icon path
*********************************************************************/
$iconpath: '../assets/images';

/*********************************************************************
*  =Media Screen
*********************************************************************/
$mobile: 340px;
$m540: 540px;
$m599: 599px;
$m760: 760px;
$m820: 820px;
$grid: 960px;
$d1280: 1280px;
