.contact{
  background-color: $c3;

  h1 + p, h1{
    text-align: center;
  }

  form{
    margin: 80px auto 0;
    max-width: 820px;
  }

  [type="submit"]{
    margin: 40px auto 0;
    display: table;
  }


  label:not([for="file"]){
    @extend %flyLabels;
    color: $c2;
  }

}
